<!DOCTYPE HTML>
<html>
<head>
    <title>Richard</title>
    <link href="/bootstrap-3.3.7/css/bootstrap.css" rel="stylesheet" type="text/css"/>
    <script src="/js/jquery-3.3.1.min.js"></script>
    <link href="/css/dashboard.css" rel="stylesheet" type="text/css"/>
    <link href="/css/style.css" rel="stylesheet" type="text/css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8"/>
    <meta name="keywords" content="Richard"/>
    <script src="/js/underscore-noflect.js"></script>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-2 sidebar">
            <div class="sidebar-top">
                <h1><a href="/">Richard</a> </h1>
                <div class="clearfix"></div>
            </div>
            <div class="drop-navigation">
                <div class="top-menu">
                    <ul>
                        <li><a href="/">主页</a> </li>
                        <li><a href="/JavaScript">JavaScript</a> </li>
                        <li><a href="/NodeJS">NodeJS</a> </li>
                        <li><a href="/Environment">环境搭建</a> </li>
                        <li><a href="/about">关于我</a> </li>
                        <li><a href="/comment">留言</a> </li>
                    </ul>
                </div>
                <div class="side-btm">
                    <div class="copyright">
                        <p>version 1.0.0</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-10 col-sm-offset-2">
            <div class="col-sm-12 news-sec news-top news-1">
                <a href="javascript:;"><h5>关于我</h5></a>
                <h6>2018.1.1 19:00</h6>

                <div class="blog-body">
                    <div class="blog-content">
                        <h2><strong>个人简介：</strong></h2>
                        <p>初次见面，不吝赐教。我的英文名是Richard Hao，致力于全栈开发。</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

</body>
</html>